{% set user_screen_names = tweets.keys() %}
{% set max_num_tweets = tweets.values()|map('length')|sort|last or 0 %}

{% extends 'admin/master.html' %}

{% block body %}
  <div class="container">
    <form action="" method="post">
      {{ form.csrf_token() }}
      <p>
        {{ form.user_screen_names.label }}
        {{ form.user_screen_names }}
      </p>
      <p>
        {{ form.tweets_start_dt.label }}
        {{ form.tweets_start_dt }}
      </p>
      <p>
        {{ form.tweets_end_dt.label }}
        {{ form.tweets_end_dt }}
      </p>
      <p>
        {{ form.submit() }}
      </p>
    </form>
    <table class="table">
      <thead>
        {% for user_screen_name in user_screen_names %}
          <th scope="col">
            {{ user_screen_name }}
          </th>
        {% endfor %}
      </thead>
      <tbody>
        {% for i in range(max_num_tweets)%}
          <tr>
            {% for j in range(user_screen_names|length)%}
              {% if tweets[user_screen_names[j]]|length > i %}
                <td>
                  <div class="alert alert-info">
                    {{ tweets[user_screen_names[j]][i][0] }}:
                    {{ tweets[user_screen_names[j]][i][1] }}
                    {{ tweets[user_screen_names[j]][i][2] }}
                    <a href='https://twitter.com/i/web/status/{{ tweets[user_screen_names[j]][i][3] }}'
                      target='_blank'>Link
                    </a>
                  </div>
                </td>
              {% else %}
                <td>
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
